@media screen and (max-width: 1199px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body {
    color: #000;
    font-family: "Poppins", sans-serif;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }

  .navbar .logo a{
    position: absolute;
    text-decoration: none;
    left: 1em;
    /* top: 4px; */
    padding: 0.5em;
  }

  .menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
    padding: 0.5em;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    background: #fff;
    /* width: 65%; */
    /* height: 25vh; */
    padding: 1em 0;
    position: relative;
    top: 2.5em;
    margin-left: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .navbar ul.active {
    display: block;
  }

  .navbar ul li {
    margin: 1em 20%;
    list-style-type: none;
    text-align: left;
  }

  .navbar ul li a{
    text-decoration: none;
    padding: 1em;
    color: navy;
  }

  .navbar ul li a:hover{
    color: rgb(130, 130, 130);
    outline: none;
    background-color: transparent;
  }

  .navbar .menu-icon {
    display: block;
    position: absolute;
    right: 1.5em;
  }
  .menu{
    display: block;
  }

  .home-container .home-card {
    margin: 1em auto;
    height: auto;
  }

  .home-content {
    text-align: center;
    padding: 1em;
  }

  .cards-container {
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 1em auto;
    box-shadow: none;
  }

  .cards-container:hover {
    box-shadow: none;
  }

  .card-1,
  .card-2 {
    color: rgb(0, 0, 0);
    width: 100%;
    margin-bottom: 1em;
    position: relative;
    top: 0;
    left: 0;
  }

  .dev_me_img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
  }

  .icons-container {
    flex-direction: row;
    position: relative;
    bottom: 0;
    left: 0;
    justify-content: center;
    margin: 1em 0;
  }

  .icons-container ul {
    display: flex;
    justify-content: center;
  }

  .icons-container ul li {
    margin: 1em 1em;
    list-style-type: none;
    text-align: center;
  }
  .icons-container ul li a {
    text-decoration: none;
    color: #000;
    transition: transform 0.3s, font-size 0.3s, background-color 0.3s;
    /* background-color: red; */
    padding: 1em;
  }
  
  .icons-container ul li a:hover {
    transform: scale(1.2); 
  }
  .social_media_icon{
    width: 20px;
  }

  .twin-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
  }

  .twin-btn button {
    width: 80%;
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  }

  .twin-btn button:hover{
    background-color: #000;
    color: #fff;
  }
  .about-me-container {
    margin-top: 5vh;
    padding: 2em 1em;
  }

  .about-me-title {
    font-size: 20px;
    position: relative;
    top: 0;
    margin-bottom: 1em;
    text-align: center;
  }

  .experience-education-container {
    flex-direction: column;
    text-align: center;
    margin: 1em auto;
  }

  .experience-card,
  .education-card {
    width: 80%;
    height: auto;
    margin: 1em auto;
    border-radius: 10px;
  }
  .experience-card h2, .education-card h2{
    font-size: 18px;
  }

  .my-description {
    width: 90%;
    margin: 1em auto;
    position: relative;
    top: 0;
    word-spacing: 5px;
  }

  .experience-container {
    width: 100%;
    height: auto;
    margin-top: 2em;
    padding: 1em 0;
    text-align: center;
  }

  .experience-title {
    position: relative;
    top: 0;
    margin-bottom: 1em;
    text-align: center;
  }
  .experience-title h2{
    font-size: 24px;
  }
  .experience-card-container {
    flex-direction: column;
    margin: 1em auto;
  }
  .experience-card, .education-card{
    /* background-color: red; */
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 1em;
  }

  .card-frontend-dev,
  .card-backend-dev {
    width: 100%;
    margin: 1em auto;
    height: auto;
    border-radius: 10px;
    /* border: 2px solid #000; */
  }

  .role-title {
    font-size: 18px;
    margin-top: 2em;
    font-weight: bold;
  }
  .experince-languages{
    display: flex;
    /* background-color: yellow; */
  }

  .row-1{
    /* background-color: red; */
    margin: auto;
    position: relative;
    left: 7%;
    width: 48%;
  }
  .row-2{
    /* background-color: red; */
    margin: auto;
    position: relative;
    left: 3.5%;
    width: 48%;
  }

  .icon-experience {
    flex-direction: column;
    align-items: start;
    display: flex;
  }
  .icon-experience .actual-icon{
    position: relative;
    top: 2.3vh;
    left: 5%;
    width: 10px;
  }
  .icon-experience p {
    font-size: 14px;
    color: #000;
    position: relative;
    left: 20%;
  }

  .experience-level {
    font-size: 14px;
    color: rgb(100, 100, 100);
    margin-left: 20%;
    text-align: left;
    top: 0;
  }
}
